<h2>게시글 내용</h2>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<hr>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' if @article.user_id == @current_user.id  %>
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>
